@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --clr-primari:#49FDE1;
    --clr-secundari:#09071D;
    --clr-terciary:#FA2DD1;
    --clr-font:#fff;
}

body {
    background-color: var(--clr-secundari);
    color: var(--clr-font);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primari);
    color: var(--clr-secundari);
    padding: 1rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    font-weight: 900;
}

.herramientas {
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    text-align: center;
}

.intrucciones{
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.text-color {
    color: var(--clr-terciary);
    font-weight: 600;
}

.marcador {
    background-color: var(--clr-terciary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 2rem;

}

.marcador .nombre {
    position: absolute;
    color: var(--clr-font);
    background-color: var(--clr-secundari);
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-terciary);
    font-weight: 600;
}

.marcador .nombre-jugador {
    right: 85%;
}

.marcador .nombre-computadora {
    left: 85%;
}

.marcador .puntos {
    font-size: 2.6rem;
}

.elegir-tu-arma h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.armas {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    
}

.arma{
    font-size: 2rem;
    background-color: var(--clr-primari);
    border: 0;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    -webkit-box-shadow: 3px 4px 29px 3px rgba(250,45,209,0.6);
-moz-box-shadow: 3px 4px 29px 3px rgba(250,45,209,0.6);
box-shadow: 3px 4px 29px 3px rgba(250,45,209,0.6);
}

.mensaje {
    margin: 2rem 0;
    line-height: 1.8;

}

.mensaje .eleccion {
    color: var(--clr-secundari);
    background-color: var(--clr-primari);
    border-radius: .25rem;
    padding-inline: .25rem;
    font-weight: 600;
}

.btn{
    background-color: var(--clr-primari);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1rem;
    color: var(--clr-terciary);
    box-shadow: 0 0.4rem var(--clr-primari);
    cursor: pointer;
    text-transform: uppercase;
}
.btn:active {
    color: var(--clr-font);
    box-shadow: 0 .2rem var(--clr-primari);
    transform: translateY(.2rem);
}

.btn:hover:not(:disabled) {
    background: var(--clr-terciary);
    color: var(--clr-font);
    /* text-shadow: 0 .1rem #bcb4b4 ; */
}
.btn:disabled {
    cursor:auto;
    color: var(--clr-secundari);
}

.disabled {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    background-image:url(../img/footer.png);
    background-repeat:no-repeat;
    background-position:50% ;
    padding: 2rem;

}
.footer-texto {
    opacity: 70%;
}

.footer-texto i {
    font-size: .70rem;
}

.enlaces {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .6rem;
    gap: .70rem;
}

.enlace {
    color: var(--clr-terciary);
    font-size: 1.2rem;

}
